/* Space out content a bit */
body {
 
    
    background-color: #0CAB8E;
  /*padding-bottom: 20px;*/
}
#h1_logo{
  
  margin-top: 10px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top:0px;
  background-color: #0CAB8E;
}
.navbar-default {
    background-color: #0CAB8E;
    border-color: #e7e7e7;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer *
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
    margin-bottom: 10px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.footer {
    background-color: #f1f1f1;
    bottom: 0;
    height: 30px;
    position: fixed;
    width: 100%;
}
.btn-menu {
  margin: 0 auto;
 /* left: 0;
  right: 0;*/
  height: 70px;
  width: 30%;
  margin-bottom: 58px; 
  position:relative;
  bottom:60px;
  z-index: 100;

}
/**
estilos panttalla inicial
****/
.scrinicial{
  padding-bottom: 20px;
}
.scrinterior{
  background-color: #fff;
}
#bocina{
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  width: 50%;
  
  bottom: 20px;
  margin-bottom: 10px;
  position:absolute;
}
#lyr_h1_2{
 /* background-color: #dedede;
   background-attachment: fixed;*/
   color: white;
   font-size: 18px;
    background-image: url("img/H1.2.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 15%;
    height: 25%px;
    margin-top: 25px;
    position: absolute;
    right: 20%;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
}
#lyr_h1_4{
 /* background-color: #dedede;
   background-attachment: fixed;*/
   color: white;
   font-size: 18px;
    background-image: url("img/H1.4.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 10%;
    
    margin-top: 25px;
    position: absolute;
    right: 20%;
    width: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
}
#dialogo{
  max-width: 370px;
  width: 45%;
  margin-top: 5%;
   margin-left: 0px;
   position: inherit;

}
/*
h2.html
*/
#lyr_h2_1{
  max-width: 370px;
  width: 95%;
  margin-top: 15%;
   margin-left: 0px;
   position: inherit;

}

/***/
.navbar-default {
    
    border-color: none;
}
/******/
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we s
  et earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
