/* Space out content a bit */
body {
 
    
    background-color: #fff;
  /*padding-bottom: 20px;*/
}
#h1_logo{
  
  margin-top: 10px;
}
.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
    max-width: 768px;
    margin-bottom: 10px;
    background-color: "";
    height: 500px;
  }
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid ;
  position: fixed;
  top:0px;
  background-color: #fff;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
    height: 70px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer *
/* Customize container */
@media (min-width: 768px) {
  
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.footer {
    background-color: #f1f1f1;
    bottom: 0;
    height: 30px;
    position: fixed;
    width: 100%;
}
.btn-menu {
  margin: 0 auto;
 /* left: 0;
  right: 0;*/
  height: 70px;
  width: 30%;
  margin-bottom: 58px; 
  position:relative;
  bottom:60px;
  z-index: 100;

}
/**
estilos panttalla inicial
****/
.scrinicial{
  background-color: #fff;
  padding-bottom: 20px;
}

#bocina{
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  width: 50%;
  
  bottom: 20px;
  margin-bottom: 10px;
  position:absolute;
}
#lyr_h2_1{
  background-image: url('img/h3/H3.2.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
  color:#000;
  max-width: 750px;
  width: 98%;
  height: 60%;
  margin-top: 100px;
   margin-left: 0px;
   position: absolute;
  /* background-color: #00000;*/
   padding-right: 25%;
   text-align: justify;

}
#lyr_h4_1{
  background-image: url('img/h4/H4.5.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50%;
  color:#000;
  max-width: 750px;
  width: 98%;
  height: 40%;
  
   margin-left: 0px;
   position: absolute;
  /* background-color: #00000;*/
   padding-right: 25%;
   text-align: justify;
   bottom: 10%;

}
#lyr_h4_2{
	background-image: url('img/h4/H4.2.png');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size:100%;
	color: #000;
	/*max-width: 750px;*/
	width: 100%;
	height: 70px;
	margin-top: 100px;
	margin-left: 0px;
	position: relative;
	
  padding: 5px;
  padding-bottom: 20px;
	top: 50px;
	text-align: justify;
}

#lyr_h4_3{
  background-image: url('img/h4/H4.3.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size:contain;
  color: #000;
  /*max-width: 750px;*/
  width: 60%;
  height: 30%;
  margin-top: 0px;
  
  position: relative;
  
  padding: 5px;
  padding-bottom: 20px;
  top: 50px;
  margin-left: auto;
  right: 0;
  text-align: justify;
}
#lyr_h4_4{
  background-image: url('img/h4/H4.4.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size:100% 90%;

  color: #000;
  /*max-width: 750px;*/
  width: 60%;
  height: 30%;
  margin-top: 0px;
  
  position: relative;
  
  padding: 10%;
  padding-top: 3%;
  top: 50px;
  margin-left: auto;
  right: 0;
  text-align: justify;
  z-index: 10;
}
#lyr_h5_1{
  background-image: url('img/h5/h5_1.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100%;
  color:#000;
  max-width: 750px;
  width: 98%;
  height: 80%;
  
   margin-left: 0px;
   position: absolute;
  /* background-color: #00000;*/
   padding-right: 25%;
   text-align: justify;
   top: 10%;

}
#lyr_h6_1{
  background-image: url('img/h6/H6.2.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 30%;
  color:#000;
  max-width: 750px;
  width: 98%;
  height: 60%;
  margin-top: 100px;
   margin-left: 0px;
   position: absolute;
  /* background-color: #00000;*/
   padding-right: 25%;
   text-align: justify;

}
#lyr_h7_1{
  background-image: url('img/h7/H7.2.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 35% 40%;
  color:#000;
  max-width: 750px;
  width: 98%;
  height: 80%;
  margin-top: 100px;
   margin-left: 0px;
   position: absolute;
     padding: 5px;
   padding-right: 25%;

   text-align: justify;

}
/* <img class="pull-left" style="max-width:400px; margin-top: 0px;" src="assets/img/h6/h6.1.png">*/
#lyr_h8_1{
  background-image: url('img/h8/H8.1.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  color:#fff;
  font-family:sans-serif;
  font-size: 18px;
  max-width: 750px;
  width: 40%;
  height: 15%;
  margin-top: 0px;
   left: 0px;
   
   position: relative;
     padding: 5px;

   text-align: center;
   vertical-align: middle;

}
#lyr_h8_2{
  
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 35% 40%;
    background-color: #023C4D;
  color:#fff;
  max-width: 750px;
  width: 88%;
  height: 120px;
  margin-top: 100px;
   margin-left: 0px;
   position: absolute;
   padding: 5px;
   text-align: justify;
   font-size: 16px;
   z-index: auto;

}
#lyr_h8_2_1{
  background-size: contain;
     background-image: url('img/h8/H8.3.png');
     background-repeat: no-repeat;
     width: 60%;
     z-index: auto;
     height: 155px; 
     margin-top: 30px;
     color: #000;
      padding: 5px 10px 5px 70px;


}
#lyr_h8_3{
  
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 35% 40%;
  color:#fff;
  max-width: 760px;
  width: 100%;
  height: 150px;
  bottom: 0px;
  margin-top: 40%;
   margin-left: 0px;
   position: relative;
   padding: 5px;
   text-align: justify;
   font-size: 16px;
   z-index: 400;

}
#lyr_h8_3_1{
   background-image: url('img/h8/H8.4.png');
  background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100%;
    position: relative;
    margin-left: 5%;
}
#lyr_h8_3_2{
   background-image: url('img/h8/H8.5.png');
  background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100%;
    position: relative;
}
#lyr_h8_3_3{
   background-image: url('img/h8/H8.6.png');
  background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100%;
    position: relative;
}
#lyr_h8_3_4{
   background-image: url('img/h8/H8.7.png');
  background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100%;
    position: relative;
}
#lyr_h8_3_5{
   background-image: url('img/h8/H8.8.png');
  background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100%;
    position: relative;
    margin-right: 5%;
}
#lyr_h8_4{
   
  background-position:center;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 280px;
    
  width:  700px;
    position: relative;
    padding: 0px;
    z-index: 500;
}
#lyr_h8_4_1{
   background-image: url('img/h8/H8.4.png');
  background-position:center;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100%;
    position: relative;
    margin: 0px;

}
#lyr_h8_4_2{
   background-image: url('img/h8/H8.9.png');
  background-position:center ;
    background-repeat: no-repeat;
    background-size: contain ;
    width: 80%;
    height: 100%;
    position: relative;
    right: 0;
    margin: 0px;
    padding-top: 40px;
    padding-left: 40px;
    color: #fff;
}
#lyr_h8_5{
   
  background-position:center;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 280px;
    
  width:  700px;
    position: relative;
    padding: 0px;
    z-index: 500;
}
#lyr_h8_5_1{
   background-image: url('img/h8/H8.5.png');
  background-position:center;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100%;
    position: relative;
    margin: 0px;

}
#lyr_h8_5_2{
   background-image: url('img/h8/H8.10.png');
  background-position:center ;
    background-repeat: no-repeat;
    background-size: contain ;
    width: 80%;
    height: 100%;
    position: relative;
    right: 0;
    margin: 0px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 140px;

    color: #fff;
}
#lyr_h8_6{
   
  background-position:center;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 280px;
    
  width:  700px;
    position: relative;
    padding: 0px;
    z-index: 500;
}
#lyr_h8_6_1{
   background-image: url('img/h8/H8.6.png');
  background-position:center;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100%;
    position: relative;
    margin: 0px;

}
#lyr_h8_6_2{
   background-image: url('img/h8/H8.11.png');
  background-position:center ;
    background-repeat: no-repeat;
    background-size: contain ;
    width: 80%;
    height: 100%;
    position: relative;
    right: 0;
    margin: 0px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 10px;

    color: #fff;
}
#lyr_h8_6_2_1{

  color: #fff;
  width: 280px;
  height: 50px;
  bottom:0px;
  margin-left: 10px; 
  margin-top: 85px; 
  margin-bottom: 0px;
  text-align: center;
  position: absolute;
  
}
#lyr_h8_7{
   
  background-position:center;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 280px;
    
  width:  700px;
    position: relative;
    padding: 0px;
    z-index: 500;
}
#lyr_h8_7_1{
   background-image: url('img/h8/H8.7.png');
  background-position:center;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100%;
    position: relative;
    margin: 0px;

}
#lyr_h8_7_2{
   background-image: url('img/h8/H8.12.png');
  background-position:center ;
    background-repeat: no-repeat;
    background-size: contain ;
    width: 80%;
    height: 100%;
    position: relative;
    right: 0;
    margin: 0px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 10px;
    text-align: justify;

    color: #fff;
}
#lyr_h8_8{
   
  background-position:center;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 280px;
    
  width:  700px;
    position: relative;
    padding: 0px;
    z-index: 500;
}
#lyr_h8_8_1{
   background-image: url('img/h8/H8.8.png');
  background-position:center;
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100%;
    position: relative;
    margin: 0px;

}
#lyr_h8_8_2{
   background-image: url('img/h8/H8.13.png');
  background-position:center ;
    background-repeat: no-repeat;
    background-size: contain ;
    width: 80%;
    height: 100%;
    position: relative;
    right: 0;
    margin: 0px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 10px;
    text-align: justify;

    color: #fff;
}
#lyr_h9_1{
  background-image: url('img/h8/H8.1.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  color:#fff;
  font-family:sans-serif;
  font-size: 18px;
  max-width: 350px;
  width: 40%;
  height: 15%;
  margin-top: 0px;
   left: 0px;
   
   position: relative;
     padding: 5px;

   text-align: center;
   vertical-align: middle;

}
#lyr_h9_2{
  
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 35% 40%;
    background-color: #023C4D;
  color:#fff;
  max-width: 750px;
  width: 30%;
  height: 140px;
  margin-top: 0px;
   margin-left: 0px;
   position: absolute;
   padding: 20px;
   padding-top: 35px;
   text-align: justify;
   font-size: 26px;
   z-index: auto;

}
#lyr_h9_2_1{
   background-image: url('img/h9/H14.3.png');
  
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  color:#000;
  max-width: 750px;
  width: 60%;
  height: 115px;
  margin-top: 15px;
   margin-left: 40%;
   position: relative;
   padding: 5px;
   padding-right: 10px;
   padding-left: 90px;
  
   text-align: justify;
   font-size: 16px;
   z-index: auto;

}
#lyr_h9_3{
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: auto;
  max-width: 750px;
  width: 95%;
     position: relative;


}
#lyr_h9_buttons{
  padding:15px;
  width: 100%;
  text-align: center;
}
.h9_button{

  background-color: #02AB8E;
  width: 100px;
  border: 1px solid #656565;
  color: #fff;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tbl_h9 {
    border: 1px solid #656565;
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #888888;
    width: 100%;
    margin-bottom: 15px;
    border-spacing: 0;
    position: relative;
}
.tbl_h9 thead th {
   
    border: 1px solid #fff;
    background-color: #023C4D;
    color: #fff;
    text-align: center;
}
.tbl_h9 td{
  padding-left: 5px;
  height: 35px;
}
#lyr_logo{
  background-image: url('img/logo.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  color:#fff;
  font-family:sans-serif;
  font-size: 18px;
  max-width: 750px;
  width: 25%;
  height: 15%;
  margin-top: -70px;
  margin-left: auto;
   right: 0px;
   
   position: relative;
     padding: 5px;

   text-align: center;
   vertical-align: middle;
   z-index: 10;

}
#dialogo{
  max-width: 370px;
  width: 45%;
  margin-top: 5%;
   margin-left: 0px;
   position: inherit;

}
/*
h2.html
*/


/***/
.navbar-default {
    
    border-color: none;
}
/******/
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we s
  et earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.fancybox-skin {
    background: transparent;
    box-shadow: none !important;
}
.fancybox-opened .fancybox-skin {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05) !important;
}
.fancybox-skin {
    background: #ffffff none repeat scroll 0 0 !important;
 }
.fancybox-close {
  
    right: 0 !important;
    top: -7px !important;
}

